.body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #556983;
    background-image: url("./../img/header_bg.jpg");
    background-size: cover;
    background-position: center;

    /* Выравниваем текс по центру экрана */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {   
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.header-subtitle {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;

    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-arrow {
    width: 48px;
    height: 48px;
    /* background-color: red; */

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(0, 0);
}
